<nav>
  <div class="site-title">
    <a href="/"><h1>Scrape & Search</h1></a>
    <p>Scrape & Search</p>
  </div>
  <ul>
    <li><a href="/scrape">Scrape</a></li>
    <li><a href="/search">Search</a></li>
  </ul>
</nav>