<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  <div id="page-container">
    <div id="content-wrap">
        <br>
      <p>
        <div class="not-found content">
          404 - page not found!
        </div>
      </p>

</div>
<%- include("./partials/footer.ejs") %>
</div>

  
</body>
</html>